<header>
    <div class="container mx-auto px-6 py-4 flex items-center justify-between border-b border-[--white]">
        <!-- Logo -->
        <div class="flex items-center space-x-2">
            <a href="{{ path('app_home') }}">
                <img src="{{ asset('/images/logo.png') }}" alt="Logo" class="h-16">
            </a>
        </div>

        <!-- Navigation -->
        <div class="flex items-center space-x-8">
            <nav class="flex items-center space-x-8">
                <a href="{{ path('app_home') }}" class="text-lg font-semibold hover:text-gray-400">Accueil</a>
                <a href="{{ path('app_road_trip_index') }}" class="text-lg font-semibold hover:text-gray-400">RoadTrips</a>
                <a href="{{ path('app_profil') }}" class="text-lg font-semibold hover:text-gray-400">Profil</a>
            </nav>

            <!-- Button -->
            <a href="{{ path('app_mes_road_trip_index') }}" class="bg-[--tiffany-blue] text-[--white] text-lg font-semibold py-2 px-4 rounded hover:bg-[--tea-green]">
                Mes RoadTrips
            </a>
        </div>
    </div>
</header>